body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* ทำให้ตารางเลื่อนในแนวนอนได้ในอุปกรณ์มือถือ */
.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* สำหรับ smooth scroll บนอุปกรณ์ iOS */
  }
  
  /* ปรับฟอนต์และการแสดงผลเมื่ออยู่ในหน้าจอขนาดเล็ก */
  @media (max-width: 768px) {
    .table th, .table td {
      font-size: 12px; /* ลดขนาดฟอนต์ในหน้าจอเล็ก */
    }
    
    /* จัดให้ปุ่มแสดงเป็น block เพื่อให้มีพื้นที่มากขึ้น */
    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 768px) {
    /* สำหรับหน้าจอขนาดเล็ก เช่น iPhone */
    .action-buttons {
        display: flex;
        flex-direction: column;
        align-items: center; /* จัดให้อยู่ตรงกลาง */
    }
    .action-buttons a {
        margin-bottom: 10px; /* เพิ่มช่องว่างระหว่างปุ่ม */
        width: 50px; /* กำหนดความกว้างของปุ่มให้เท่ากัน */
    }
}

/* เปลี่ยนสีตัวอักษรเป็นสีดำและเอาขีดเส้นใต้ออกสำหรับลิงก์ในคอลัมน์สินค้า */
.product-link {
    color: black; /* เปลี่ยนสีตัวอักษรเป็นสีดำ */
    text-decoration: none; /* เอาขีดเส้นใต้ออก */
}

.product-link:hover {
    color: black; /* ให้สีดำเช่นกันเมื่อมีการ hover */
    text-decoration: none; /* ปิดการขีดเส้นใต้เมื่อ hover */
}

/* เปลี่ยนสีตัวอักษรเป็นสีดำและเอาขีดเส้นใต้ออกสำหรับลิงก์ในส่วนหัวของตาราง */
.table th a {
    color: black; /* เปลี่ยนสีตัวอักษรเป็นสีดำ */
    text-decoration: none; /* เอาขีดเส้นใต้ออก */
}

/* เมื่อนำเมาส์ไปวางบนลิงก์ ให้ยังคงสีดำและไม่มีเส้นใต้ */
.table th a:hover {
    color: black;
    text-decoration: none;
}

/* ปรับสไตล์ของ navbar-brand */
.navbar-brand {
    font-family: 'Poppins', sans-serif; /* เปลี่ยนฟอนต์เป็น Poppins (หรือฟอนต์อื่นๆ ที่ต้องการ) */
    font-size: 1.5rem; /* ขนาดตัวอักษร */
    font-weight: bold; /* ความหนาของตัวอักษร */
    letter-spacing: 1px; /* เพิ่มระยะห่างระหว่างตัวอักษร */
    color: #fff; /* สีของตัวอักษร */
    text-transform: uppercase; /* เปลี่ยนเป็นตัวพิมพ์ใหญ่ทั้งหมด */
}
